@import url(http://fonts.googleapis.com/css?family=Fira+Sans);

// Brand variables
$brand: #eee;
$brand-light: lighten($brand, 10%);
$brand-dark: darken($brand, 10%);
$text-colour: #202020;
$font: 'Fira Sans', sans-serif;

// Device variables
$mobile: 320px;
$tablet: 769px;
$desktop: 1025px;
$desktop-hd: 1441px;
$desktop-max-width: 1280px;

// Application variables
$page-background: $brand-dark;
$page-text: $text-colour;
$page-width: 90%;

// NavBar variables
$navbar-text: $text-colour;
$navbar-link-hover: #20c0f0;
$navbar-font-size: 1rem;
$navbar-background: $brand-light;
$navbar-dropdown-background-title: $brand;
$navbar-dropdown-background-item: $brand-light;
$navbar-dropdown-background-item-selected: $brand-dark;

// Hamburger variables
$button-width: 96px;
$button-height: 96px;
$bar-thickness: 8px;
$button-pad: 18px;
$button-bar-space: 12px;
$button-transistion-duration: .3s;

// Content variables
$content-border-colour: $brand;
