@import 'variables';

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, 
body {
  background: $page-background;
  color: $page-text;
  font-family: 'Roboto', sans-serif;
}

.content {
  margin: 0 auto;
  width: $page-width;
}
