@import "../variables";
  
.navbar ul li {
  ul {
    display: none;
  }
  
  &:hover, &:active {
    cursor: pointer;
    background-color: $navbar-dropdown-background-title;
    border: 1px;
    
    ul {
      display: block;
      margin-top: 12px;
      right: 0;
      position: absolute;
      width: 100%;
      
      li {
        margin: 0px;
        display: block;
        background-color: $navbar-dropdown-background-item;
        span {
          float: right;
          color: $navbar-text;
          padding: 2px 5px;
          font-size: .8rem;
          border-radius: 3px;
        }

        a {
          color: $navbar-text;
          text-decoration: none;
        }
       
        &:hover {
          background: $navbar-dropdown-background-item-selected;
          span {
            background: $navbar-dropdown-background-item-selected;
          }
        }
      }
    }
  }
}
