<!DOCTYPE html>
<html>
<head>
  <title>readdit</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<<<<<<< HEAD
  <!-- Bootstrap -->
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <!-- Bootstrap -->
=======
>>>>>>> Updated style (no Bootstrap) :/
  <script src='/assets/bundle.js'></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="NavBar"></div>
  <script>
    React.render(
      React.createElement(NavBar, {
        links: <%= navbar_links.html_safe %>,
        rootPath: <%= "\"#{root_path}\"".html_safe %>,
        sitename: "readdit!" 
      }),
      document.getElementById("NavBar")
    );
  </script>
  <div class='container'>
    <%= yield %>
  </div>
</body>
</html>
